<ion-view class="staffrepay-claim-form" view-title="Outstanding Claims List" align-title="left">
	<ion-header-bar align-title="left" class="claim-header-bar">
		<h2>Total Repay: £ {{ $ctrl.calculateRepay() || "0.0" }}</h2>
	</ion-header-bar>
    <ion-content class="form-content">
       	<div class="col-xs-12">
	        <div>
				<md-input-container class="md-block flex-gt-sm col-xs-6" flex-gt-sm="">
					<label for="station_departing_input">Departing station</label>
					<input ng-model="$ctrl.journey.fromStation" 
							ng-required="true" 
							ng-disabled="$ctrl.verifications.fromStation"
							type="text"
							id="station_departing_input">
					<div class="md-errors-spacer"></div>
				</md-input-container>


				<md-input-container class="md-block flex-gt-sm col-xs-6" flex-gt-sm="">
					<label for="station_arriving_input">Arriving station</label>
					<input ng-model="$ctrl.journey.toStation" 
							ng-required="true" 
							ng-disabled="$ctrl.verifications.toStation"
							type="text"
							id="station_arriving_input" >
					<div class="md-errors-spacer"></div>
				</md-input-container>

				<md-input-container class="md-block col-xs-6 flex-gt-sm" flex-gt-sm="">
					<label for="journey_date_input">Journey date</label>
					<input mdc-datetime-picker="" 
							date="true" 
							time="true" 
							type="text" 
							id="journey_date_input"  
							min-date="date" 
							ng-model="$ctrl.journey.journeyDate"
							ng-disabled="$ctrl.verifications.journeyDate"
							ng-disabled="true"
							class="md-input">
				</md-input-container>


		        <button ng-click="$ctrl.search()"
		                class="button  button-energized ink col-xs-6">
		            Search
		        </button>


	        	<div class="staffrepay-text-input-group">
					<md-input-container class="col-sm-6 pull-left md-block flex-gt-sm" flex-gt-sm="">
						<md-radio-group ng-model="$ctrl.journeySelected">
							<h4 ng-show="!$ctrl.journeysFound.length">
								No journeys found! Please click on search
							</h4>
							<md-radio-button ng-repeat="journey in $ctrl.journeysFound"
											ng-value="journey" 
											class="md-primary journey-found-container" 
											aria-label="Journey">
								<div class="col-xs-12">
									<div class="col-xs-6">
										<div class="col-xs-12">Departure</div>
										<div class="col-xs-12">{{ journey.fromDatetime | limitTo: 5: 11 }}</div>
									</div>
									<div class="col-xs-6">
										<div class="col-xs-12">Delay</div>
										<div class="col-xs-12" ng-class="{ 'journey-delayed': journey.delay > 0 }">{{ journey.delay }} mins</div>
									</div>
								</div>
								<br>
								<br>
								<hr>
							</md-radio-button>
					    </md-radio-group>
					</md-input-container>
				</div>

			</div>

	    </div>
    </ion-content>

    <ion-footer-bar class="railtech-footer button-footer">
        <button ui-sref="app.staffrepay.contact(1)" 
        		ng-disabled="!$ctrl.verifyInputs()"
                class="button button-full button-balanced ink sticky-footer">
            Confirm
        </button>
    </ion-footer-bar>
</ion-view>
