.staffrepay-claim-form {
	.claim-header-bar {
		top:0px;
		padding: 15px 30px;
		height:60px;
		text-align: center;

		h2 {
			width:100%;
		}
	}

	.form-content {
		margin-top:90px;
	}
	

	.staffrepay-text-input-group {
		.journey-found-container {

			.journey-delayed {
				color: red;
				font-size: 1.2em;
			}
		}
	}
}