.outstanding-claims-list {

	.claim-item {
		border-radius: 25px;
		background-color: #FDEFDE;
		margin-top:5px;
		padding: 25px 0;

		&:hover {
			background-color: #FD4A00;
		}

		.claim-item-container {
			background-color: #FFFFFF;
			padding: 25px;

			.claim-journey {
				font-size:1.4em;
			}
			.claim-id {
				font-weight: bold;
				float:right;
				background-color: #D0D0D0;
				padding: 0 8px;
			}
			.claim-date {
				float: right;
			}
			.claim-status {

			}
		}
	}
}